<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEecucuj2q_US2pf5u6BYYIEwthwhoumU</string>
	<key>GCM_SENDER_ID</key>
	<string>850460180302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vadhara7.mentorship-tree.MentorshipTree</string>
	<key>PROJECT_ID</key>
	<string>mentorshiptree</string>
	<key>STORAGE_BUCKET</key>
	<string>mentorshiptree.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850460180302:ios:a82ac2cdd9e754d3e4a81f</string>
</dict>
</plist>